body{background-color: pink;
    align-content: center;}
    h1 {text-align: center;
        font-family: 'Courier New', Courier, monospace;
    padding:50px;
    margin:50px;
    
    border:cornflowerblue 2px dotted;
    border-radius:100px;
    }
    h2{font-family:'Courier New', Courier, monospace;
    color:cornflowerblue;}
    a{color:cornflowerblue;}
    div{
    padding:70px;
    margin:50px;
    border: cornflowerblue 2px solid;
    width: 500px;
    position:relative;
    left:25%;
    
    
    
    }
    
    p{width:500px;
    align-content: center;}
    
    footer{text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size:small;}
    
    img {width:500px;
    height: 300px;}