h1{text-align: center;
font-family: monospace;
color:pink;
}
h2{text-align: center;
    font-family: monospace;
padding: 20px;
}

body { background: purple;
    font-family: monospace;
    padding: 50px;
    
}

#banner {
    width: 975px;
    height: 250px;
    background: lavender;
    text-align: center;
    font-size: larger;
    border-radius: 200px;
}
#dia {
    width:1cm;
    height:1cm;
    color:pink;
    border-radius:0;
    transform: rotate(45deg)
}
li {list-style-type: none;
margin:20px;
text-align: center;}

main { display:flex;
flex-flow: row;
}
div {padding: 100px;
background: powderblue;
border: 5px solid white;
margin: 10px;
border-radius:200px;}

footer {text-align:center;}